:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}
h1, h2, h3, h4, h5, h6, ul, ol, p 
 {
  margin:0;
  padding: 0;
  }

img{
  display: block;
  }

  * {
  box-sizing: border-box;}

   

/* =============HEADLINE============ */

.container {
  width: 1200px;
  /* padding: 0 15px; */
  align-items: center;
  margin: 0 auto;

  height: 80px;
  left: 0px;
  top: 0px; 
  background: #FFFFFF;
}
.navigation {
  display: flex;
  align-items: baseline;
  margin-left: 13.44%;
  
}
.container{
  display: flex;
  align-items: baseline;
}
.navigation-link{
width: 145px;
height: 31px;
left: 13.43%;
top: 24px;
margin-right: 5.81%;
padding-top: 24px;
padding-bottom: 25px;
}

.navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: beaside;
  align-items: center;
  }

.navigation-list-item { 
margin-right: 34.5px ;
}

.phone{
margin-left: 50px;
width: 110px;
height: 16px;
left: 78.93%;
top: 32px;
}
.mail{
  width: 135px;
  margin-left: 23.18%;
  top: 32px;
  }

.navigation-link,
.address-logo {
  text-decoration: none;
}

.navigation-list-item {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  }
  
.navigation-list-item:hover,
.navigation-list-item:focus {
  color: var(--main-color);
}
.mail,
.phone {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mail:hover,
.mail:focus {
  color: var(--main-color);
}
.phone:hover,
.phone:focus {
  color: var(--main-color);
}
/* =============END-THE-HEADLINE============ */

/* =============hero-efektywne-rozwiązania-dla-waszego-biznesu============ */

.hero {
  height: 600px; 
  top: 80px;
  left: 0px;
  border: 1px solid #000000;
  background: #2f303a; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 .hero-items{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.main-tittle {
width: 696px;
height: 120px;
position: absolute;
top:280px;
 font-family:var(--main-font)
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;  
  color: #ffffff;
}
    
.button {
  position: absolute;
  top:430px;
  width: 200px;
  height: 50px;
  
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* =============hero-efektywne-rozwiązania-dla-waszego-biznesu============ */


/* <!-- lorem-ipsum--> */
.lorem-ipsum {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 161.25px;
  top: 774px;
  font-family: var(--main-font);
  color: #212121;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
    
}
.lorem-ipsum-item { 
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.lorem-ipsum-item-p{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
text-transform: none;
margin-top: 10px;
}
 .container-lorem-ipsum{
   display: flex;  
         
 }  
.lorem-ipsum-item{
  flex-basis: 270px;
  
}
.lorem-ipsum-item:not(:last-child){
  margin-right: 30px;
}

/* <!-- lorem-ipsum--> */




/* <!-- What-we-do--> */

.what-we-do{
position: absolute;
width: 352px;
height: 42px;
left: 624px;
top: 969px;


font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.1667;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.container-what-we-do{
 display: flex; 
}

   
}
.what-we-do_item{
flex-direction: row;
}








.team {
  position: absolute;
  top: 3000px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121; */
}




.team {
  background-color: #f5f4fa;
  position: absolute;
  top: 3000px;
}
.team_member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team_member > .p {
  font-weight: normal;
  color: #757575;
}

/* =============/MAIN INDEX.HTML============ */





/* =============FOOTER INDEX.HTML============ */
.address {
  position: absolute;
  top: 5000px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
}
.address-mail,
.address-phone { 
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6); 
  text-decoration: none;
}

/* =============FOOTER INDEX.HTML============ */





/* =============FOOTER PORTFOLIO.HTML============ */
.navigation-list-item-portfolio {
  position: absolute;
  top: 5000px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1,142;
letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1,625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  list-style:none;

}
.button-portfolio:hover,
.button-portfolio:focus {
  color: #FFFFFF; 
  background-color: var(--main-color);


/* .filter:hover,
.filter:focus {
  color: #ffffff; */
}
.filers-examples {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.filers-examples > p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

/* =============FOOTER PORTFOLIO.HTML============ */

.web,
.studio {
  text-decoration: none;
  font-family: var(--socondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio {
  color: #000000;
}
.studio-footer {
    text-decoration: none;
  font-family: var(--socondary-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
      color: #FFFFFF;

}
}
